@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav d-flex">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Ticker Mapping</a> </li>
    </ul>
    <hr class="m-0">
</div>

<article class="col-md-12">
    <div class="pt-3">
        <div class="mb-4">
            <button class="btn btn-success float-right ml-1" id="btnTickerExport">Export</button>
            <button class="btn btn-primary float-right ml-1" id="btnProcess">Apply Ticker Mapping</button>
        </div>

        <!-- Loader -->
        <div class="loader-overlay ticker-loader">
            <div class="spinner"></div>
        </div>
    </div>

</article>
<br />

<div>
    <div style="overflow:auto">
        <table class="table table-hover table-bordered" id="tickerMappingTable">
            <thead>
                <tr style="background-color: #d3d3d3">
                    <th>ID</th>
                    <th>Account</th>
                    <th>Broker</th>
                    <th>Security</th>
                    <th>ParentTicker</th>
                    <th>Quantity</th>
                    <th>Side</th>
                    <th>Quantity Matching Status</th>
                    <th>Holdings Status</th>
                    <th>Transaction Type</th>
                    <th>Price</th>
                    <th>Dividend</th>
                    <th>ConvertedSide</th>
                    @*<th>Broker Long Note</th>*@
                    <th>Calculated Long Note</th>
                    <th>Broker Long Note</th>
                    <th>Weighted Spread</th>
                    <th>Spread</th>
                    <th>Comment</th>
                    <th>Process Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- DataTable will populate this -->
            </tbody>
        </table>
    </div>
</div>



<script src="~/Assets/TickerMapping.js"></script>

